http:
  routers:
    keycloak:
      rule: PathPrefix(`/auth`)
      entryPoints:
        - http
      service: "keycloak"
  services:
    keycloak:
      loadBalancer:
        servers:
{% for i in keycloak_instances %}
        - url: "http://{{ i.name }}.dns.podman:8080"
{% endfor %}
